
/* CSS Attributes used when viewing Storm nodes */

dt.print_html {
  background: transparent url(images/html.png) no-repeat top left;
}

dt.print_pdf {
  background: transparent url(images/pdf.png) no-repeat top left;
}

div.stormfields, div.field, div.stormbody {
  width: 70%;
}

div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first {
  float: left;
  width: 150px;
  text-align: right;
  clear: left;
  font-weight: bold;
}

div.stormlinks {
  float:right;
  width: 30%;
}

div.stormbody div.value p {
  clear: left;
  margin: 1.2em;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

table#attachments {
  float: left;
}
